<component name="libraryTable">
  <library name="spring-context-4.0.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-context/4.0.0.BUILD-SNAPSHOT/jar/b7dbb0ded8d8476ef3fe708715e59f1b4f774814/spring-context-4.0.0.BUILD-SNAPSHOT.jar!/" />
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-context/4.0.0.BUILD-SNAPSHOT/jar/a8a2603cfd5c0f66b575a592c1cb14b19e1ddba4/spring-context-4.0.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-context/4.0.0.BUILD-SNAPSHOT/source/55316cd1d970ab6c1d3dbd7e0b5d73d3561456ed/spring-context-4.0.0.BUILD-SNAPSHOT-sources.jar!/" />
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-context/4.0.0.BUILD-SNAPSHOT/source/df3c20d4645d660600e2cdee43a48e378901b306/spring-context-4.0.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>