<component name="libraryTable">
  <library name="spring-beans-4.0.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-beans/4.0.0.BUILD-SNAPSHOT/jar/985855f235ab10ac30d9c17ccf0bd1eefc4823b6/spring-beans-4.0.0.BUILD-SNAPSHOT.jar!/" />
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-beans/4.0.0.BUILD-SNAPSHOT/jar/a66964410e4067cc232998d965e4fc10f0f2f1fa/spring-beans-4.0.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-beans/4.0.0.BUILD-SNAPSHOT/source/b76e13e8214f96f8803c55c2f1eab5b12881f27e/spring-beans-4.0.0.BUILD-SNAPSHOT-sources.jar!/" />
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework/spring-beans/4.0.0.BUILD-SNAPSHOT/source/555bd3e4d24813fc35e17abe879c099cc24c4fa/spring-beans-4.0.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>