<component name="libraryTable">
  <library name="spring-boot-0.5.0.BUILD-SNAPSHOT-tests">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot/0.5.0.BUILD-SNAPSHOT/jar/1ab71d6b81b0f2434020924e1efa80c10a380474/spring-boot-0.5.0.BUILD-SNAPSHOT-tests.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>