<component name="libraryTable">
  <library name="spring-boot-starter-test-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-test/0.5.0.BUILD-SNAPSHOT/jar/40d8dbfe87f3771e39a70a5778b4a0c2244655cf/spring-boot-starter-test-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>