<component name="libraryTable">
  <library name="spring-boot-0.5.0.BUILD-SNAPSHOT-tests">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot/0.5.0.BUILD-SNAPSHOT/jar/57f4d7ec81f09b8afeb8250eeeb4788c35e914ff/spring-boot-0.5.0.BUILD-SNAPSHOT-tests.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>