<component name="libraryTable">
  <library name="spring-boot-starter-test-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-test/0.5.0.BUILD-SNAPSHOT/jar/5eb1a85443002dd6232c498822ded63dfb30ae9b/spring-boot-starter-test-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>