<component name="libraryTable">
  <library name="spring-boot-starter-test-0.5.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot-starter-test/0.5.0.BUILD-SNAPSHOT/jar/bcfd60adfc74134f857b3df5c245f027b9a0cec1/spring-boot-starter-test-0.5.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>