<component name="libraryTable">
  <library name="spring-boot-0.5.0.BUILD-SNAPSHOT-tests">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/artifacts-26/filestore/org.springframework.boot/spring-boot/0.5.0.BUILD-SNAPSHOT/jar/5be0c4a742bd4c97a2e401e25c7d7a1f88cd8007/spring-boot-0.5.0.BUILD-SNAPSHOT-tests.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>